    #root {
        padding: 2rem;
        background-color: #a8dadc;
    }
    
    .episodesContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .showName{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    
    .divEpisode {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 31%;
        min-height: 32rem;
        background-color: #f1faee;
        color: #6b705c;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        margin: 0.5rem;
    }
   
    .episodeName {
        color: #6b705c;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 2px solid #1d3557;
        border-radius: 5px;
        width: 100%;
        text-align: center;
        /* background-color: #ddbea9; */
        font-weight: bold;
    }
    
    .summaryTextDiv {
        margin: 10%;
        color: #1d3557;
    }
    
    footer {
        background-color: #457b9d;
        padding: 2%;
        font-size: small;
        color: #a8dadc;
    }

    span{
        background-color: #ffb703;
    }
    
    #showsSelect, #episodeSelect{
        width: 15rem;
        border: 1px solid #1d3557;
        border-radius: 5px;
    }

    .summaryCast{
        margin: 5%;
    }

    .charsImg{
        height: 7rem;

    }

    .charsDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 18rem;
        margin: 3%;
        background-color: #f1faee;
    }

    .charsChar{
        font-size: 0.8rem;
    }

    .mainCastDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        overflow: auto;
        color: #1d3557;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: 3%;
    }

    

    .divShow{
        padding: 20px;
        
        background-color: #f1faee;
        border: 2px solid #1d3557;
        border-radius: 5px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .detailsShowDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #6b705c;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
    }

    .imgShowCastDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    h1{
        cursor: pointer;
    }

    .showPropertyDiv{
        display: flex;
        flex-direction: column;
    }

    .summaryShowDiv{
        max-width: 50rem;
    }

    .showImage{
        max-width: 8rem;
    }

    @media screen and (max-width: 1250px) {
        .summaryShowDiv{
            max-width: 30rem;
        }

    }
    
    @media screen and (max-width: 950px) {
        .divEpisode {
            width: 45%;
        }

        .summaryShowDiv{
        max-width: 20rem;
        }

        .showImage{
        max-width: 6rem;
        }
    }
    
    @media screen and (max-width: 650px) {
        .divEpisode {
            width: 95%;
        }

        .summaryShowDiv{
        max-width: 15rem;
        }

        .showImage{
        max-width: 4rem;
        }

        .mainCastDiv{
            flex-direction: column;
            max-height: 20rem;
        }
    }